body {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 5vh;
}

img {
  width: 50vw;
}

ul, ol {
  text-align: left;
  list-style-position: inside;
  padding-left: 0;
}

div {
  width: 40vw;
  margin-left: 30vw;
  line-height: 3vh;
}

#ol-container {
  width: 40vw;
}
